--only-binary :all:
spacy==3.8.7
flask==3.1.1
gunicorn==23.0.0
python-telegram-bot[job-queue]==22.3
aiohttp==3.12.15
googlemaps==4.2.0
unidecode==1.4.0
python-dotenv==1.1.1
openai==1.99.9
lingua-language-detector==2.1.1
transformers==4.55.2
sentence-transformers==5.1.0
scikit-learn==1.7.1
deep-translator==1.11.4
pytz==2025.2
requests==2.32.4
pandas==2.3.1
numpy==2.3.2
deeppavlov==1.7.0
tqdm==4.67.1
torch==2.8.0
geopy==2.4.1
pytz
