--only-binary :all:
spacy==3.8.7
flask
gunicorn
python-telegram-bot[job-queue]>=20.0
aiohttp
googlemaps
unidecode
python-dotenv
openai
lingua-language-detector
transformers
sentence-transformers
scikit-learn
deep-translator
pytz
requests
pandas
numpy
deeppavlov
tqdm
torch
geopy
langdetect
pytz
