--no-binary :all:
--only-binary spacy,blis,thinc,cymem
spacy==3.8.7
flask
gunicorn
telethon
aiohttp
googlemaps
unidecode
python-dotenv
openai
langdetect
transformers
sentence-transformers
scikit-learn==1.3.0
python-dotenv
